html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

glava {
	margin: 20px;
}

telo {
	flex: auto;
	margin: 10px;
	width: calc(100% - 50px);
	overflow: visible;
	padding: 10px;
	display: block;
}

.rob {
	border: 1px solid transparent; 
	border-color: red; 
	border-radius: 4px; 
}

.senca {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color:gray;
} 

#igrisce {
	position: relative;
}

.zogica {
	background-color: black;
	position: absolute;
	display: inline-block;
	border-radius: 50%;
}

#barve > button {
	border: 0px;
	margin: 5px;
}

#start {
	float: right;
	width: 200px;
	background: white;
	height: 50px;
	font-size: 18px;
}

#novaBarva, #odstraniBarve {
	background: white;
}
